//- Get the base from base.pug
extends base

block content 
    main
        .login-form
            h2.heading-secondary.ma-bt-lg Request a new Password
            form.form.form--password
                .form__group.ma-bt-md
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                .form__group
                    button.btn.btn--green.btn--password(type='submit') Submit
        p.login-text An email will be sent to your address in order to create a new password
