//- Get the base from base.pug
extends base

block content 
    main
        .login-form
            h2.heading-secondary.ma-bt-lg Set a new password
            form.form.form--new-pass
                .form__group
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='password') Confirm Password
                    input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group
                    button.btn.btn--green.btn--new-pass(type='submit', data-token=`${passwordQuery ? passwordQuery : ''}`) Save new password
